#interfaz{

    display: none;
}

#hearts{
    display: none;

  
    
  
  
}

.letra{
    margin-right: 10px;
    width:10%;
    height: 10%;
    display: inline-block;
    min-width: 10%;
    background-color: aqua;
    
}

img{
    margin-left:10px ;
    width: 30px;
}


